﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


html {
	width: 800px;
}

table {
	width: 100%;
}

textarea {
	height: 250px;
	width: 100%;
	padding: 5px;
}

.col2 {
	width: 50%;
	padding: 10px;
}

.result {
	display: inline-block;
	height: 250px;
	width: 100%;
	font-size: 16px;
	border: blue 1px solid;
	padding: 5px;
}

.blue {
    background-color: #0000ff;
}