﻿@model Portal.Models.Candidate

@{
    ViewBag.Title = "Application";
}
@using (Html.BeginForm("Application", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h2>Application</h2>
    <fieldset>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                @*<input type="text" name="FirstName" class="form-control">*@
            </div>
        </div>
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <label class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                @*<input type="text" name="LastName" class="form-control">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.EMail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EMail, "", new { @class = "text-danger" })
                @*<input type="text" name="EMail"class="form-control" placeholder="Email">*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Address</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.Address.Street, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address.Street, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">City</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.Address.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address.City, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">State</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.Address.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address.State, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Zip Code</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.Address.Zipcode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address.Zipcode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Phone Number</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "xxx-xxx-xxxx" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Birth Date</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.BirthDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" href="EducationHistory" class="btn btn-primary">Next</button>
            </div>
        </div>
    </fieldset>

        @Html.ActionLink("Back to List", "Index")

}