﻿@{
    ViewBag.Title = "Careers";
}

<h2>Careers</h2>

<p style="text-align: center"><a style="color: red; font-size: large;" href="@Url.Action("Create", "Candidates")">APPLY NOW!       </a><img src="../../Content/PICS/apply.jpg" alt="applynow" align="middle" style="border: solid 2px darkgrey;"></p>