﻿@{
    ViewBag.Title = "Index";
}
<div class="jumbotron" style="text-align: center; margin: auto;">
    <h4>Welcome to Cena Consulting LLC.</h4>
    <audio id="Intro">
        <source src="~/Content/intro.mp3" />
    </audio>
    <img src="~/Content/PICS/john_cena00.jpg" size="242px;" style="border: 2px darkgrey solid;" onclick="document.getElementById('Intro').play()" />
    <h5>"Where YOU are the CHAMP here."</h5>
</div>