﻿
@{
    ViewBag.Title = "CustomVariable";
}

<h2>CustomVariable</h2>

<div>The Controller is: @ViewBag.Controller</div>
<div>The Action is: @ViewBag.Action</div>
<div>The CustomVariable is: @ViewBag.CustomVariable</div>