﻿@model JKNGCapstone.Models.AddPostVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section topScripts
{
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/mytinymce.js"></script>
}


<div class="page-header">
    <h1 class="page-title">Create a New Post</h1>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">Choose Categories</div>
                <div class="panel-body">@Html.ListBoxFor(m => m.Post.CategoryIds, Model.Category, new { @class = "form-control" })</div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Choose Tags</div>
                <div class="panel-body">@Html.ListBoxFor(m => m.Post.TagIds, Model.Tag, new { @class = "form-control" })</div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Add new categories seperated by commas</div>
                <div class="panel-body">@Html.TextBoxFor(m=>m.Post.PostCategoryDescription[0].CategoryDescription, new { @class = "form-control" })</div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Add new tags seperated by commas</div>
                <div class="panel-body">@Html.TextBoxFor(m => m.Post.PostTag[0].TagDescription, new { @class = "form-control" })</div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group">
                <label>Title</label>
                <p>@Html.ValidationMessageFor(m => m.Post.PostTitle)</p>
                @Html.TextBoxFor(model => model.Post.PostTitle, new { id = "titlearea", @class="form-control wide" })
            </div>
            <div class="form-group">
                <label>Body</label>   
                <p>@Html.ValidationMessageFor(m => m.Post.PostBody)</p>
                @Html.TextAreaFor(model => model.Post.PostBody, new { id = "postarea" })
            </div>
        </div>
    </div>

    <div class="row">
        <center>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            @Html.ActionLink("Cancel", "AdminIndex", "Blog", null, new { @class = "btn btn-primary" })
        </center>
        <br />
        <br />
    </div>
}
    
