﻿@model JKNGCapstone.UI.Models.IndexVM

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div id="IndexPage" class="col-sm-12">
        <h1 id="IndexPageHeader" class="col-xs-offset-4"><bold><span id="underline">Sarah's Spirits Corner</span></bold></h1>

        <div class="col-sm-3">
            <div>
                <label id="PostTags"><span id="underlinetags"> Tags </span></label>
            </div>
            <div class="col-sm-3 jqcloud" id="jqcloud">
            </div>
            <br>
                <label id="PostTags"><span id="underlinetags"> Categories </span></label>
            <div class="col-sm-3 jqcloud2" id="jqcloud2">
            </div>
        </div>
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                if (post.PostStatus.StatusDescription.ToUpper() == "PUBLISHED")
                {
                    <div class="col-sm-offset-3">
                        <h1 id="IndexPageTitles">@Html.Raw(post.PostTitle)</h1>
                        <p>
                            @post.DatePublished.ToShortDateString()&nbsp;&nbsp;&nbsp;&nbsp;
                            <text>Categories: </text>
                            @foreach (var category in post.PostCategoryDescription)
                    {
                                <span class="CatsAndTags" id="@category.CategoryDescription">@category.CategoryDescription</span>
                            }
                            <text>&nbsp;&nbsp;&nbsp;&nbsp;Tags: </text>

                            @foreach (var tag in post.PostTag)
                    {
                                <span class="CatsAndTags">@tag.TagDescription</span>
                            }
                        </p>
                        @if (post.PostBody.Length > 100)
                        {
                        @Html.Raw(post.PostBody.Substring(0, 100));
                        }
                        else
                        {
                        @Html.Raw(post.PostBody);
                        }
                        <br />

                        @Html.ActionLink("Read More", "Details", new { id = post.PostId }, new { @class = "btng sm ghost1" })
                    </div>
                }
            }
        </div>
        <br />
        <br />
        <div class="col-sm-offset-3">
            <ul>
                @for (int i = 0; i <= (Model.Count - 1) / 5; i++)
            {
                    @Html.ActionLink((i + 1).ToString(), "Index", new { id = i + 1 }, new { @class = "btng xsm ghost b" })
                }
            </ul>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        var words = [
        { text: "Spiced Rum", weight: 9 },
        { text: "Microbrews", weight: 8 },
        { text: "Merlot", weight: 7 },
        { text: "Smirnoff", weight: 6 },
        { text: "Kettle One", weight: 5 },
        { text: "Bombay Sapphire", weight: 4 },
        { text: "Patron", weight: 3 },
        { text: "Kah Blanco", weight: 2 },
        { text: "Riesling", weight: 1 },
        { text: "Pinot Noir", weight: 3 },
        { text: "Pinot Grigio", weight: 4 },
        { text: "Hibiki", weight: 3 },
        { text: "Jack Daniels", weight: 5 },
        { text: "Captain Morgan", weight: 7 },
        { text: "Bacardi", weight: 9 },
        ];

        $('#jqcloud').jQCloud(words, {
            width: 400,
            height: 250
        });
    });

    $(document).ready(function () {
        var words = [
        { text: "Whiskey", weight: 9 },
        { text: "Beer", weight: 8 },
        { text: "Red Wine", weight: 7 },
        { text: "White Wine", weight: 6 },
        { text: "Rose Wine", weight: 5 },
        { text: "Tequila", weight: 4 },
        { text: "Gin", weight: 3 },
        { text: "Rum", weight: 2 },
        { text: "Vodka", weight: 1 },
        { text: "Bourbon", weight: 3 },
        { text: "Brandy", weight: 4 },
        { text: "Cognac", weight: 6 },
        { text: "Irish Whiskey", weight: 7 },
        { text: "Armagnac", weight: 9 }
        ];

        $('#jqcloud2').jQCloud(words, {
            width: 400,
            height: 250
        });
    });
</script>
    }