﻿@model JKNGCapstone.Models.AddStaticPageVM

@{
    ViewBag.Title = "StaticIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Static Page Dashboard</h1>
<br />
<br />
<div class="row col-sm-11" >
    <div class="col-sm-offset-1">
        <table class="table table-bordered table-hover table-condensed table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date Created</th>
                    <th>Last Status Change</th>
                    <th>Current Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Publish</th>
                    <th>Deactivate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.StaticPageList)
                    {
                        if (post.PostStatus.StatusDescription != "TO-DELETE")
                        {
                    <tr>
                        <td>@Html.ActionLink(post.PostTitle, "Static", "Blog", new { id = post.PostId }, null)</td>
                        <td>@post.User.UserName</td>
                        <td>@post.DateCreated.ToShortDateString()</td>
                        <td>@post.DatePublished.ToShortDateString()</td>
                        <td>@post.PostStatus.StatusDescription</td>
                        <td>
                            <form action="@Url.Action("EditStatic", "Blog", new { id = post.PostId })" method="get">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="@Url.Action("DeleteStaticPage", "Blog", new { id = post.PostId })" method="post" onsubmit="return confirm('Are you sure you want to delete @post.PostTitle?')">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="@Url.Action("PublishStaticPage", "Blog", new { id = post.PostId })" method="post" onsubmit="return confirm('Are you sure you want to publish @post.PostTitle?')">
                                <button class="btn btn-success">Publish</button>
                            </form>
                        </td>
                        <td>
                            <form action="@Url.Action("DeactivatePage", "Blog", new { id = post.PostId })" method="post" onsubmit="return confirm('Are you sure you want to deactivate @post.PostTitle?')">
                                <button class="btn btn-info">Deactivate</button>
                            </form>
                        </td>
                    </tr>
                    }
                }
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form action="@Url.Action("AddStaticPage", "Blog")">
            <button class="btn btn-warning center-block">Add New Static Page</button>
        </form>
    </div>
</div>
<div class="col-sm-offset-1">
    <ul class="pagination ">

        @for (int i = 0; i <= (Model.Count) / 5; i++)
        {
            <li>@Html.ActionLink((i + 1).ToString(), "StaticIndex", new { id = i + 1 })</li>
        }
    </ul>
</div>