﻿@model ModelValidation.UI.Models.Appointment

@{
    ViewBag.Title = "MakeBooking";
}

<h2>Make Booking</h2>

@using (Html.BeginForm("MakeBooking", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <p>@Html.ValidationMessageFor(m=>m.ClientName)</p>
    <p>Your Name: @Html.EditorFor(m => m.ClientName)</p>
    <p>@Html.ValidationMessageFor(m => m.Date)</p>
    <p>Appointment Date: @Html.EditorFor(m => m.Date)</p>
    <p>@Html.ValidationMessageFor(m => m.TermsAccepted)</p>
    <p>@Html.EditorFor(m => m.TermsAccepted) I accept the terms & Conditions</p>
    <button>Make Booking</button>
}
