﻿
@{
    ViewBag.Title = "Directive";
}

<h2>Directive</h2>

<div class="row" ng-app>
    <div class="col-sm-4">
        <label>Name: </label>
        <input type="text" ng-model="customerName"/>
        <p>Your name is: {{customerName}}</p>
    </div>
</div>