﻿
@{
    ViewBag.Title = "Module";
}

<h2>Module</h2>

<div class="row" ng-app="demoApp">
    <div class="col-sm-4" ng-controller="FriendsController">
        <ul>
            <li ng-repeat="friend in friends">
                {{friend.name | uppercase}}, {{friend.phone}}, age: {{friend.age}}
            </li>
        </ul>
    </div>
    <div class="col-sm-4" ng-controller="SimpleController">
        <table class="table table-striped">
            <tr ng-repeat="player in players">
                <td>{{player.name}}</td>
                <td>{{player.city}}</td>
            </tr>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/module.js"></script>
}
