﻿@model HJJTPortal.UI.Models.ReviewVM

@{
    ViewBag.Title = "Review";
}

<h2>Review</h2>
<p>Name: @Model.Candidate.FirstName / @Model.Candidate.LastName</p>
<p>Email: @Model.Candidate.EMail</p>
<p>Address: @Model.Candidate.Address.Street / @Model.Candidate.Address.City /@Model.Candidate.Address.State / @Model.Candidate.Address.Zipcode</p>
<p>Phone Number: @Model.Candidate.PhoneNumber</p>
<p>Birth Date: @Model.Candidate.BirthDate.ToShortDateString()</p>
<p></p>
<h4>Education History</h4>
@foreach (var item in Model.EducationHistory)
{
    <p>Institution Name: @item.InstitutionName</p>
    <p>Institution City: @item.InstitutionCity</p>
    <p> Institution State: @item.InstitutionState</p>
}

<p></p>
<form action="/Home/EduHx/@Model.Candidate.CandidateId" method="get">
    <button class="btn btn-link">Edit</button>
</form>
<button class="btn btn-danger">Delete</button>
<h4>Work History</h4>
@foreach (var item in Model.WorkHistory)
{
    <p>Previous Emplyer's Name: @item.EmployerName</p>
    <p> Previous Employer's City: @item.City</p>
    <p> Previous Employer's State: @item.State</p>
}

<button class="btn btn-link">Edit</button>
<button class="btn btn-danger">Delete</button>
<p></p>
<h4>Desired Job Information</h4>
<p>Desired Job: @Model.DesiredJobInfo.DesiredJob</p>
<p>Available Start Date: @Model.DesiredJobInfo.StartDate.ToShortDateString() </p>
<p>Requested Salary: @Model.DesiredJobInfo.YearlySalary</p>
<button class="btn btn-link">Edit</button>
<button class="btn btn-danger">Delete</button>
<p></p>
<p></p>
@Html.ActionLink("Thank you for your submission, your application has now been submitted.", "Index", "Home")