﻿@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<div class="jumbotron">
    <h1>Sarah's Spirits Blog</h1>
    <p class="lead">Look at me, i am a cool JUMBOTRON</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Sick btn bro &raquo;</a></p>
    <p> Yo  @Html.ActionLink(User.Identity.GetUserName() + ",", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) how you doing this beautiful day??</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What should</h2>

    </div>
    <div class="col-md-4">
        <h2>go here</h2>
       
    </div>
    <div class="col-md-4">
        <h2>???</h2>
        <p>Truffaut pop-up put a bird on it, hashtag YOLO four dollar toast paleo butcher wolf fap vice migas kickstarter shabby chic. VHS wayfarers deep v raw denim. Tilde venmo chambray, raw denim man bun sartorial iPhone typewriter humblebrag tofu. Forage fashion axe four dollar toast, synth helvetica flexitarian lo-fi. Heirloom bicycle rights food truck, mumblecore actually portland godard trust fund try-hard gluten-free craft beer. Bicycle rights brunch chia, cronut green juice small batch offal gastropub. Butcher flannel raw denim, stumptown mumblecore yuccie tofu.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    }
}
@*else{
    <div class="col-xs-10">
        <p>Please sign in to see blog (see that button where it says "Register", yea click on that...)</p>

    </div>
    

}*@