﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.detailsViewCaption {
    text-align: right;
    font-weight: bold;
    font-size: larger;
    vertical-align: bottom;
}

.detailsViewContent {
    text-align: left;
    vertical-align: bottom;
}

.detailsViewButton {
    font-weight: bold;
}

#modalVerticalForm {
    max-width: 300px;
    margin: 10px auto;
}

#deletionModal {
    top: 25%;
outline: none;
}