﻿@model DynamicSectionExample.UI.Models.GameSystem
@{
    ViewBag.Title = "AddSystem";
}

<h2>Add System</h2>

@using (Html.BeginForm("AddSystem", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>
    <div id="GameList" class="form-group">

        @*This button will only add a new game*@
        <button name="Add">AddNew</button>

        @for (int i = 0; i < Model.Games.Count; i++)
        {
            <div id='GameRow'>
                <div class='form-group'>
                    @Html.LabelFor(m => Model.Games[i].Title)
                    @Html.EditorFor(m => m.Games[i].Title)
                </div>
                <div class='form-group'>
                    @Html.LabelFor(m => Model.Games[i].ReleaseDate)
                    @Html.EditorFor(m => m.Games[i].ReleaseDate)
                </div>
            </div>
        }
    </div>
    //This button adds the new system to the repo
    <button name="Save">Save</button>
}

