﻿@model List<DynamicSectionExample.UI.Models.GameSystem>

@{
    ViewBag.Title = "Index";
}

<h2>My Video Games</h2>

@Html.ActionLink("Add New Game System", "AddSystem", "Home")

<table>
    <thead>
    <tr>
        <th>System</th>
        <th>Game</th>
        <th>Release Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var system in Model)
    {
        foreach (var game in system.Games)
        {
            <tr>
                <td>@system.Name</td>
                <td>@game.Title</td>
                <td>@game.ReleaseDate.ToShortDateString()</td>
            </tr>
        }
    }
    </tbody>
</table>
