﻿@model CarTell.models.Listing
@{
    ViewBag.Title = "AddVehicle";
}

<h2>Add Vehicle</h2>

@using (Html.BeginForm("AddVehicle", "Home", null, FormMethod.Post, new { id = "addVehicleForm" }))
{
    <br />

    <!--Personal Info-->
    <div class="form-group">
        @Html.LabelFor(m => m.AdTitle, new { @class = "control-label" })
        @Html.EditorFor(m => m.AdTitle, new { HtmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        @Html.EditorFor(m => m.Description, new { HtmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price, new { @class = "control-label" })
        @Html.EditorFor(m => m.Price, new { HtmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Picture, new {@class = "control-label"})
        @Html.EditorFor(m => m.Picture, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Mileage, new { @class = "control-label" })
        @Html.EditorFor(m => m.Mileage, new { HtmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Model, new {@class = "control-label"})
        @Html.EditorFor(m => m.Model, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Make, new {@class = "control-label"})
        @Html.EditorFor(m => m.Make, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Year, new { @class = "control-label" })
        @*<input class="form-control text-box single-line" data-val="true" data-val-date="The field Year must be a date." data-val-required="The Year field is required." id="Year" name="Year" type="number" value="2000" />*@

        @Html.EditorFor(m => m.Year, new { HtmlAttributes = new { @class = "form-control" } })
    </div>

    <br />

    <button type="submit" class="btn btn-success btn-lg">Submit Request</button>

    @section scripts{
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/app/jquery-validate-defaults.js"></script>
        <script src="~/Scripts/app/addVehicleValidation.js"></script>
    }
}