﻿@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>
<h3>We would love to hear your feedback or questions!</h3>

<address>
    526 S. Main St. #609<br />
    Akron, OH 44311<br />
    <abbr title="Phone">P:</abbr>
    855.599.9584
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@thesoftwareguild.com">Support@thesoftwareguild.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@thesoftwareguild.com">Marketing@thesoftwareguild.com</a>
</address>