﻿@using CarTell.models
@model CarTell.Models.ListingsIndexVM
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Listing listing in Model.AvailibleListings)
        {
            <tr @if(!listing.Available) {@Html.Raw("class=\"warning\"")}>
                <td>@listing.Make</td>
                <td>@listing.Model</td>
                <td>$@listing.Price</td>
                <td>
                    <div class="inline">
                        @{
                            Html.RenderPartial("_ListingDetail", listing);
                        }
                        @if (this.User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger" href="/Home/Delete/@listing.ListingID"  id="@listing.ListingID"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            @Html.ActionLink("Review Requests", "ReviewRequests", "Home", new {id = @listing.ListingID}, new {@class = "btn btn-default"})
                        }
                        else
                        {
                            @Html.ActionLink("Make Request", "VehicleRequest", "Home", new { id = @listing.ListingID }, new { @class = "btn btn-success inline" })
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
@if (this.User.IsInRole("Admin"))
{
    @Html.ActionLink("Add", "AddVehicle", "Home", new {@class = "btn btn-success"})
}
</div>

@section scripts{
<script src="~/Scripts/app/Raptor/jquery-1.4.1.min.js"></script>
<script src="~/Scripts/app/Raptor/jquery.raptorize.1.0.js"></script>
    <script type="text/javascript">
        var msg = '@Model.ErrorMessage';
        if (msg.length > 1) {
            alert(msg);
        }
        $("img").error(function() {
            $(this).hide();
            // or $(this).css({visibility:"hidden"});
        });
    </script>
<script type="text/javascript">

    $(document).ready($(function () {
        /* Raptorize */
        //$('#raptorize').raptorize();
        //      $(document).raptorize({
        //        'enterOn': 'konami-code',
        //      });
        //$(document).raptorize({
        //    "enterOn": "timer",
        //    'delayTime': 200
        //});

        $(document).ready($(function () {
            /* Raptorize */
            $('#raptorize').raptorize();
            //      $(document).raptorize({
            //        'enterOn': 'konami-code',
            //      });
            $(document).raptorize({
                "enterOn": "timer",
                'delayTime': 2000
            });

            /* Overriding the paths to assets */
            $('#elRaptor').attr('src', 'http://zurb.com/playground/uploads/upload/upload/224/raptor.png').css('style', 'z-index', '1001');
            $('#elRaptorShriek').children().eq(0).attr('src', 'http://zurb.com/playground/uploads/upload/upload/230/raptor-sound.mp3');
            $('#elRaptorShriek').children().eq(1).attr('src', 'http://zurb.com/playground/uploads/upload/upload/231/raptor-sound.ogg');
        }));

       
    }));

</script>
}