﻿@using CarTell.models
@model CarTell.Models.RequestIndexVM
@{
    ViewBag.Title = "ReviewRequests";
}

<h2>Review Requests</h2>

<div class="table-responsive">
    <table class="table table-striped request-review">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Timeframe to Purchase</th>
                <th>Last Contact</th>
                <th>State of Request</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Request req in Model.Requests)
            {
                <tr>
                    <td>@String.Format(@"{0} {1}", req.Requestor.FirstName, req.Requestor.LastName)</td>
                    <td>@req.Requestor.Email</td>
                    <td>@req.Requestor.Phone</td>
                    <td>@req.Timeframe</td>
                    @if (req.LastContact != null)
                    {
                        <td>@req.LastContact.Value.ToShortDateString()</td>

                    }
                    else
                    {
                        <td>No contact made yet</td>
                    }
                    <td>
                        @using (Html.BeginForm("UpdateRequestStatus", "Home", FormMethod.Post))
                        {
                            <div class="pull-left">
                                @Html.EnumDropDownListFor(m => m.Requests.FirstOrDefault(r => r.RequestID == req.RequestID).RequestStatus, new {@class = "form-control"})
                                @Html.HiddenFor(m => m.Requests.FirstOrDefault(r => r.RequestID == req.RequestID).ListingID)
                                @Html.HiddenFor(m => m.Requests.FirstOrDefault(r => r.RequestID == req.RequestID).RequestID)
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-warning">Update</button>
                            </div>
                            }

                        </td>
                        </tr>
            }
            </tbody>
            </table>


            </div>