﻿@model CarTell.models.Request

@{
    ViewBag.Title = "VehicleRequest";
}
<br />

<h2>Vehicle Request</h2>

@using (Html.BeginForm("VehicleRequest", "Home", null, FormMethod.Post, new { id = "vehicleRequestForm" }))
{
    <br/>
    <!--Binding Vehicle Id-->
    @Html.HiddenFor(m => m.ListingID, new { @class = "form-control" })

    <!--Personal Info-->
    <div class="form-group">
        @Html.LabelFor(m => m.Requestor.FirstName, new {@class = "control-label"})
        @Html.EditorFor(m => m.Requestor.FirstName, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Requestor.LastName, new {@class = "control-label"})
        @Html.EditorFor(m => m.Requestor.LastName, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Requestor.Email, new {@class = "control-label"})
        @Html.EditorFor(m => m.Requestor.Email, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Requestor.Phone, new {@class = "control-label"})
        @Html.EditorFor(m => m.Requestor.Phone, new {HtmlAttributes = new {@class = "form-control"}})
    </div>

    <!--Request Details-->

    <div class="form-group">
        <div class="vehRequestRadio">
            @Html.LabelFor(m => m.ContactMethod, new { @class = "control-label" })<br />
            Email @Html.RadioButtonFor(m => m.ContactMethod, "Email") <br />
            Phone @Html.RadioButtonFor(m => m.ContactMethod, "Phone")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BestContactTime, new {@class = "control-label"})
        @Html.EditorFor(m => m.BestContactTime, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Timeframe, new {@class = "control-label"})
        @Html.EditorFor(m => m.Timeframe, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <br/>

    <button type="submit" class="btn btn-success btn-lg">Submit Request</button>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/jquery-validate-defaults.js"></script>
    <script src="~/Scripts/app/vehicleRequestValidation.js"></script>
}
}