﻿@using Microsoft.ApplicationInsights.Extensibility.Implementation
@model DVDLibrary.Models.AddDVDVM

@{
    ViewBag.Title = "AddDvd";
}

<h2>Add Dvd</h2>
@using (Html.BeginForm("AddDvd", "Home", FormMethod.Post, new {id = "newFPForm", @class = "form-vertical"}))
{
    <div class="form-group">
        @Html.LabelFor(m => m.DVD.Title, new {@class = "control-label"})
        @Html.EditorFor(m => m.DVD.Title, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DVD.ReleaseDate, new {@class = "control-label"})
        @Html.EditorFor(m => m.DVD.ReleaseDate, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DVD.OwnerNotes, new {@class = "control-label"})
        @Html.EditorFor(m => m.DVD.OwnerNotes, new {HtmlAttributes = new {@class = "form-control"}})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DVD.OwnerRating, new {@class = "control-label"})
        @Html.DropDownListFor(m => m.DVD.OwnerRating, Model.Ratings, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DVD.MppaRating, new {@class = "control-label"})
        @Html.EnumDropDownListFor(m => m.DVD.MppaRating, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DVD.Studio, new {@class = "control-label"})
        @Html.DropDownListFor(m => m.DVD.Studio, Model.Studios, new { @class = "form-control", id="studioD" })
        <input type="hidden" id="studioH" value="1" name="studioH" />
    </div>
    <div>
        <ul id="testList">
        </ul>
    </div>
    <input type="hidden" id="hiddenJSON" value="1" name="hiddenJSON"/>
    <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModalHorizontal">
        Add a Film Participant
    </button>
    <hr/>
    <button type="submit" class="btn btn-success btn-lg">Submit</button>
    
    <!--add a responsive list of film participants-->
}


<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form class="form-vertical" role="form" id="modalVerticalForm">
                    <div class="form-group">
                        <span>
                            <input type="radio" value="false" name="FPRadio" id="existingFP_False" checked="checked">
                            <label for="existingFP_False" class="collection_radio_buttons">Create New Participant</label>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="firstName">First Name</label>
                        <div class="">
                            <input type="text" class="form-control" id="firstName" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lastName">Last Name</label>
                        <div class="">
                            <input type="text" class="form-control" id="lastName" placeholder="Last Name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <span>
                            <input type="radio" value="true" name="FPRadio" id="existingFP_True">
                            <label for="existingFP_True" class="collection_radio_buttons">Use Existing Film Participant</label>
                        </span>
                    </div>

                    <div class="form-group">
                        @Html.Label("Film Participants", new {@class = "control-label"})
                        @Html.DropDownList("FilmParticipants", Model.FilmParticipants, new {id = "FilmParticipant", @class = "form-control", disabled = "disabled" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Roles", new { @class = "control-label" })
                        @Html.DropDownList("Roles", Model.FilmRoles, new { id = "Role", @class = "form-control" })
                    </div>
                    
                    <div class="form-group row">
                        <div>
                            <button type="button" id="testButton" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@section Scripts
{

    <script src="/scripts/addDVD.js"></script>
}
