﻿@model DVDLibrary.Models.BorrowerVM

@{
    ViewBag.Title = "Borrow";
}

@using (Html.BeginForm("Borrow", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.borrowOccurence.Dvd, new { @class = "form-control" })
    <br />
    <br />
    @Html.DropDownListFor(m => m.borrowOccurence.Borrower.BorrowerKey, Model.selectList, new { @class = "form-control" })

    <br />
    <input type="submit" value="Returning User" name="returning" class="btn btn-default" />
}

@using (Html.BeginForm("Borrow", "Home", FormMethod.Post))
{
    <br />
    <br/>
    @Html.HiddenFor(m => m.borrowOccurence.Dvd, new { @class = "form-control" })

    <p>First Name: @Html.TextBoxFor(m => m.borrowOccurence.Borrower.FirstName, new { @class = "form-control" })</p>
    <p>Last Name: @Html.TextBoxFor(m => m.borrowOccurence.Borrower.LastName, new { @class = "form-control" })</p>
    <input type="submit" value="New User" name="new" class="btn btn-default" />
}

