﻿@using DVDLibrary.Models
@model Dvd

@{
    ViewBag.Title = "DvdDetails";
}

<br />
<div class="row">
    <h2>@Model.Title Details</h2>
</div>
<hr />
<div class="row">
    @Html.ActionLink("Back to DVD List", "Views", "Home", new { @class = "btn btn-success" })
</div>


<br />


<div class="row">
    <div class="col-md-2 detailsViewCaption">Title: </div>
    <div class="detailsViewContent">@Model.Title</div>
</div>
<br />
<div class="row">
    <div class="col-md-2 detailsViewCaption">Release Date: </div>
    <div class="detailsViewContent">@Model.ReleaseDate.ToShortDateString()</div>
</div>
<br />
<div class="row">
    <div class="col-md-2 detailsViewCaption">MPAA Rating: </div>
    <div class="detailsViewContent">@Model.MppaRating.ToString()</div>
</div>
<br />

<div class="row">
    <div class="col-md-2 detailsViewCaption">Owner Rating: </div>
    <div class="detailsViewContent">@Model.OwnerRating</div>
</div>
<br />

<div class="row">
    <div class="col-md-2 detailsViewCaption">Owner Notes: </div>
    <div class="detailsViewContent">@Model.OwnerNotes</div>
</div>
<br />

<div class="row">
    <div class="col-md-2 detailsViewCaption">Studio: </div>
    <div class="detailsViewContent">@Model.Studio</div>
</div>
<br />


@{
    string directors = "";
    string cast = "";
}

@foreach (var fP in Model.FilmParticipants)
{
    if (fP.RoleKey == 1)
    {
        cast = cast + fP.FirstName + " " + fP.LastName + ", ";
    }

    if (fP.RoleKey == 2)
    {
        directors = directors + fP.FirstName + " " + fP.LastName + ", ";
    }
}

@{
    directors = directors.Trim();
    directors = directors.Trim(',');
    cast = cast.Trim();
    cast = cast.Trim(',');
}

<div class="row">
    <div class="col-md-2 detailsViewCaption">Director(s): </div>
    <div class="detailsViewContent">@directors</div>
</div>
<br />

<div class="row">
    <div class="col-md-2 detailsViewCaption">Cast: </div>
    <div class="detailsViewContent">@cast</div>
</div>
<br />



    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletionModal">Delete DVD</button>

    <div id="deletionModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Delete DVD</h3>
                </div>
                <div class="modal-body">
                    <h3>Are you sure you would like to remove this DVD from your library?</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    @Html.ActionLink("Confirm Deletion", "Remove", "Home", new { id = Model.DvdId }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <h3>Lending History</h3>
</div>
<hr />

@if ((Model.BorrowedHistory == null) || (Model.BorrowedHistory != null && Model.BorrowedHistory.TrueForAll(m => m.ReturnDate != null)))
{
    <div class="row">
        @Html.ActionLink("Lend DVD", "Borrow", "Home", new { id = Model.DvdId }, new { @class = "btn btn-success" })
    </div>
}
else
{
    var borrower = Model.BorrowedHistory.Where(m => m.ReturnDate == null);
    BorrowOccurence current = borrower.First();
    <div class="row">
        Currently on Loan to: @current.Borrower.FirstName @current.Borrower.LastName
    </div>
    <br/>
    <div class="row">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#returnDVDModal">Return DVD</button>

        <div id="returnDVDModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>Return DVD</h3>
                    </div>
                    <div class="modal-body">
                        <h3>Are you sure you would like to update this DVD as returned?</h3>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        @Html.ActionLink("Confirm Return", "ReturnDvd", "Home", new { id = Model.DvdId }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<br />

@if (Model.BorrowedHistory.Any())
{
    Model.BorrowedHistory.Reverse();
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Borrower</th>
                        <th>Date Borrowed</th>
                        <th>Date Returned</th>
                    </tr>
                </thead>

                <tbody>
                    
                        @foreach (var bor in Model.BorrowedHistory)
                        {
                            <tr>
                                <td>@bor.Borrower.FirstName @bor.Borrower.LastName</td>
                                <td>@bor.TakenDate.ToShortDateString()</td>
                                @if (bor.ReturnDate != null)
                                {
                                    DateTime returnDateDisplay = bor.ReturnDate.Value;
                                    <td>@returnDateDisplay.ToShortDateString()</td>
                                }
                                else
                                {
                                <td>Not returned!</td>
                                }
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
}
<br />