﻿@using DVDLibrary.BLL
@using DVDLibrary.Models
@model List<DVDLibrary.Models.Dvd>

@{
    ViewBag.Title = "Views";
}

<h2>Your DVD Library</h2>
@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <div class="input-append span12">
        <input type="text" class="search-query" placeholder="Search" id="searchTerm" name="searchTerm">
        <button type="submit" class="btn btn-xs"><i class="glyphicon glyphicon-search"></i></button>
    </div>
}

        @using (Html.BeginForm("Views", "Home", FormMethod.Post))
        {
            <div align="center">
                <table class="table" width="65">
                    <tr>
                        <th>Title</th>
                        <th>Release Date</th>
                        <th>MPAA Rating</th>
                        <th>User Rating</th>
                        <th>Action</th>
                    </tr>


                    @foreach (var dvd in Model)
                    {

                        <tr>
                            <td>@dvd.Title</td>
                            <td>@dvd.ReleaseDate.ToShortDateString()</td>
                            <td>@dvd.MppaRating</td>
                            <td>@dvd.OwnerRating</td>

                            <td>

                                <a href="@Url.Action("DvdDetails", "Home", new {Id = dvd.DvdId})" onclick="@dvd.DvdId" type="submit" style="margin-right: 10px;">Details</a>
                                <button type="button" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#deletionModal-@dvd.DvdId"></button>


                                <div id="deletionModal-@dvd.DvdId" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3>Delete DVD</h3>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Are you sure you would like to remove this DVD from your library?</h3>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                @Html.ActionLink("Confirm Deletion", "Remove", "Home", new { ID = dvd.DvdId }, new { @class = "btn btn-success" })
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @Html.ActionLink("Add", "AddDvd", "Home", null, new { @class = "btn btn-primary" })
        }
