﻿@model ASPNETIdentity.Models.ApplicationUser

@{
    ViewBag.Title = "ShowUserInformation";
}

<h2>ShowUserInformation</h2>

<div>
    <h4>Application User</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>