﻿body, html{
    height: 100%;
    padding-bottom: 0px;
    margin-bottom: -20px;
}

#container{
    min-height: 100%;
    position: relative;
}

#fullpage{
    background-color:white;
}

#footer{
    background-color:#8C001A;
    color: white;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#IndexPage{
    background-image: url("../Images/redwinehighdef.jpg");
    height: 1080px;
    width: 1920px;
    max-height: 100%;
    max-width: 100%;
    color:white;
}

#DetailsBody{
    max-width: 33%;
}

#detailspage{
    background-image: url("https://images7.alphacoders.com/632/632884.jpg");
    height: 1080px;
    width: 1920px;
    max-height: 100%;
    max-width: 100%;
    color:white;
}

#staticpage{
    background-image: url("../Images/heineken.jpg");
    height: 1080px;
    width: 1920px;
    max-width: 100%;
    background-repeat:no-repeat;
    color:white;
}

#IndexPageHeader{
    font-family: 'Tangerine', cursive;
    font-size: 400%;
}

#IndexPageTitles{
    font-family: 'Handlee', cursive;
     font-size: 200%;
     color: hotpink;
}

#underline{
    border-bottom: 2px solid white;
}

#ReadMoreLink{
    color: red;
}

.CatsAndTags{
    color: orange;
}

.btng {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 25px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align:center;
}

.sm {
  width: 7%;
}

.xsm{
    width: 3%;
}

.ghost {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: .2s ease;
}

.ghost:hover {
    background-color: white;
    color: red;
    transition: .2s ease;
    text-decoration: none;
}

.ghost1 {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  transition: .2s ease;
}

.ghost1:hover {
    background-color: red;
    color: white;
    transition: .2s ease;
    text-decoration: none;
}

.container-fluid{
    padding: 0px;
    margin: 0px;
}

#PostTags{
    color:orange;
    text-indent:4.5em;
    font-size: 250%;
    font-family: 'Tangerine', cursive;
    
}