﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row" ng-app="teamApp">
    <div class="col-xs-6" ng-controller="TeamsController">
        <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="team in teams | filter:teamFilter">
            <div class="mlb-block">
                <span>{{team.City}}</span><br/>
                <span>{{team.TeamName}}</span><br/>
                <img src="{{team.URL}}"/>
            </div>
        </div>
    </div>
    <div clas="col-xs-6" ng-controller="TeamsController">
        <span ng-repeat="team in teams | unique: 'City'">
            <input type="checkbox" ng-click="filterByCity($event, team.City)" checked/>{{team.City}} <br/>
        </span>
    </div>
</div>

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/app/angular.css"/>
}

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/teams.js"></script>
}