﻿

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sarah's Spirits</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/_mine/_mine.css" rel="stylesheet" />
    <link href="~/Content/Validation.css" rel="stylesheet" />
    <link href="~/Content/_mine/SiteStyling.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
    <link href="~/Content/jqcloud.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
    <script src="https://raw.githubusercontent.com/mistic100/jQCloud/master/dist/jqcloud.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("topScripts", required: false)

</head>
<body>
    <div id="container">
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Sarah's Spirits", "Index", "Blog", new { id = 1, area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                @Html.Action("Action", "PartialView")
                                <li>@Html.ActionLink("Blog", "AdminIndex", "Blog")</li>
                                <li>@Html.ActionLink("User Management", "Index", "User")</li>
                                <li>@Html.ActionLink("Static", "StaticIndex", "Blog", new { id = 1 }, null)</li>
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            }
        }


        else
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Sarah's Spirits", "Index", "Blog", new { id = 1, area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @Html.Action("Action", "PartialView")

                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }

        <div class="container-fluid" id="fullpage">
            @RenderBody()

           
            <footer id="footer">
                <text>&copy; @DateTime.Now.Year - Sarah's Spirits</text>
            </footer>
        </div>
</div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/jqcloud.min.js"></script>
        <script src="~/Scripts/jqcloud.js"></script>
        <script src="~/Scripts/mine/Bower.js"></script>
        <script src="~/Scripts/mine/chug.js"></script>
        @RenderSection("scripts", required: false)
   
</body>
</html>

