﻿@model HJJTPortal.UI.Models.ManageCategoriesVM

@{
    ViewBag.Title = "AddCategories";
}
@using (Html.BeginForm("AddCategories", "Policy", FormMethod.Post))
{
    <h2>Add Categories</h2>
        <fieldset>
            <div class="form-group">
                <label for="CategoryName" class="col-lg-2 control-label">Category Name</label>
                <div class="col-lg-10">
                    @Html.EditorFor(m => m.editCategory.CategoryName)
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    @Html.ActionLink("Cancel", "ManageCategories", "Policy", new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>

}