﻿@using System.Web.Mvc.Html
@model HJJTPortal.UI.Models.AddPoliciesVM

@{
    ViewBag.Title = "AddPolicies";
}
@using (Html.BeginForm("AddPolicies", "Policy", FormMethod.Post))
{
    <h2>Add Policies</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <div class="form-group">
            <label class="col-lg-2 control-label">Category</label>
            <div class="col-lg-10">
                @Html.DropDownListFor(m => m.newPolicy.CategoryId, Model.CategoriesDropDown, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.newPolicy.CategoryId)
            </div>
        </div>
        <div class="form-group">
            <label for="PolicyName" class="col-lg-2 control-label">Policy Name</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.newPolicy.PolicyName)
                @Html.ValidationMessageFor(m => m.newPolicy.PolicyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="policyDescription" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.newPolicy.Description)
                @Html.ValidationMessageFor(m => m.newPolicy.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                @Html.ActionLink("Cancel", "ViewPolicies", "Policy", new { @class = "btn btn-default" })
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>

}