﻿@model HJJTPortal.UI.Models.EditPolicyVM

@{
    ViewBag.Title = "EditPolicy";
}
@using (Html.BeginForm("EditPolicy", "Policy", FormMethod.Post))
{
    <h2>Edit Policy</h2>
    <fieldset>
        @Html.HiddenFor(m => m.editPolicy.PolicyId);
        <div class="form-group">
            <label class="col-lg-2 control-label">Category</label>
            <div class="col-lg-10">
                @Html.DropDownListFor(m => m.editPolicy.CategoryId, Model.CategoriesDropDown, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="PolicyName" class="col-lg-2 control-label">Policy Name</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.editPolicy.PolicyName)
            </div>
        </div>
        <div class="form-group">
            <label for="policyDescription" class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.editPolicy.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>

}