﻿@model HJJTPortal.UI.Models.ManageCategoriesVM

@{
    ViewBag.Title = "EditCategory";
}
@using (Html.BeginForm("EditCategory", "Policy", FormMethod.Post))
{
    <h2>Edit Category</h2>
    <fieldset>
        @Html.HiddenFor(m => m.editCategory.CategoryId);

        <div class="form-group">
            <label for="CategoryName" class="col-lg-2 control-label">Category Name</label>
            <div class="col-lg-10">
                @Html.EditorFor(m => m.editCategory.CategoryName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>

}