﻿@model List<Portal.Models.Policy>

@{
    ViewBag.Title = "ManagePolicies";
}

<h2>Manage Policies</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Policy Name</th>
            <th>Policy Description</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in Model)
        {
            <tr>
                <td>@p.CategoryName</td>
                <td>@p.PolicyName</td>
                <td>@p.Description</td>
                <td>@Html.ActionLink("Edit", "EditPolicy", "Policy", new { id = p.PolicyId }, new { @class = "btn btn-default" })</td>
                <td>@Html.ActionLink("Delete", "DeletePolicy", "Policy", new { id = p.PolicyId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Add Policy", "AddPolicies", "Policy", new { @class = "btn btn-success" })