﻿@model List<Portal.Models.Category>

@{
    ViewBag.Title = "ManageCategories";
}

<h2>Manage Categories</h2>
@using (Html.BeginForm("ManageCategories", "Policy", FormMethod.Post))
{
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var c in Model)
            {
                <tr>
                    <td>@c.CategoryName</td>
                    <td>@Html.ActionLink("Edit", "EditCategory", "Policy", new { id = c.CategoryId }, new { @class = "btn btn-default" })</td>
                    <td>@Html.ActionLink("Delete", "DeleteCategory", "Policy", new { id = c.CategoryId }, new { @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>

    @Html.ActionLink("Add Category", "AddCategories", "Policy", new { @class = "btn btn-success" })
}