﻿@model List<Portal.Models.Policy>

@{
    ViewBag.Title = "ViewPolicies";
}

<h2>View Policies</h2>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Policy Name</th>
            <th>Policy Description</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in Model)
            {
            <tr>
                <td>@p.CategoryName</td>
                <td>@p.PolicyName</td>
                <td>@p.Description</td>
            </tr>
        }
    </tbody>
</table>