﻿@model ModelBinding101.UI.Models.Person

@{
    ViewBag.Title = "ComplexTypeBinding";
}

<h2>ComplexTypeBinding</h2>

@using (Html.BeginForm("ComplexTypeBinding", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Person Id</label>
        @*<input type="text" name="PersonId" class="form-control" />*@
        @Html.TextBoxFor(m => m.PersonId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>First Name</label>
        @*<input type="text" name="FirstName" class="form-control" />*@
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>City</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.TextBoxFor(m => m.HomeAddress.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>State</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.TextBoxFor(m => m.HomeAddress.State, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>ZipCode</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.TextBoxFor(m => m.HomeAddress.ZipCode, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary">Submit</button>
}