﻿
@{
    ViewBag.Title = "CustomModelBinding";
}

<h2>Custom Model Binding</h2>

@using (Html.BeginForm("CustomModelBinding", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" name="LastName" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Birth Date</label>
        <div class="form-inline">
            <select name="month" class="form-control">
                @for (int i = 1; i < 13; i++)
                {
                    <option>@i</option>
                }
            </select>
            <select name="day" class="form-control">
                @for (int i = 1; i < 32; i++)
                {
                    <option>@i</option>
                }
            </select>
            <input type="text" name="year" class="form-control" placeholder="year"/>
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
}