﻿
@{
    ViewBag.Title = "MultipleObjectBinding";
}

<h2>MultipleObjectBinding</h2>

@using (Html.BeginForm("MultipleObjectBinding", "Home", FormMethod.Post))
{
    <div id="addresses">
        <div class="form-group">
            <label>City</label>
            <input type="text" name="[0].City" class="form-group" />
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" name="[0].State" class="form-group" />
        </div>
        <div class="form-group">
            <label>Zip Code</label>
            <input type="text" name="[0].ZipCode" class="form-group" />
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" name="[1].City" class="form-group" />
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" name="[1].State" class="form-group" />
        </div>
        <div class="form-group">
            <label>Zip Code</label>
            <input type="text" name="[1].ZipCode" class="form-group"/>
        </div>
        <button>Submit</button>
    </div>
}