﻿@model List<ModelBinding101.UI.Models.Address>

@{
    ViewBag.Title = "Result3";
}

<h2>Result 3</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var address in Model)
    {
        <tr>
            <td>@address.City</td>
            <td>@address.State</td>
            <td>@address.ZipCode</td>
        </tr>
    }
    </tbody>
</table>