﻿@model ModelBinding101.UI.Models.PersonVM

@{
    ViewBag.Title = "ViewModelBinding";
}

<h2>View Model Binding</h2>

@using (Html.BeginForm("ViewModelBinding", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label>Person Id</label>
        @*<input type="text" name="PersonId" class="form-control" />*@
        @Html.TextBoxFor(m => m.Person.PersonId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>First Name</label>
        @*<input type="text" name="FirstName" class="form-control" />*@
        @Html.TextBoxFor(m => m.Person.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.TextBoxFor(m => m.Person.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>City</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.TextBoxFor(m => m.Person.HomeAddress.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>State</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.DropDownListFor(m=>m.Person.HomeAddress.State, Model.StateList, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>ZipCode</label>
        @*<input type="text" name="LastName" class="form-control" />*@
        @Html.TextBoxFor(m => m.Person.HomeAddress.ZipCode, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary">Submit</button>
}