﻿@model CarTell.models.Listing

<button class="btn btn-primary modalTrigger inline" @Html.Raw($"name=\"myModal{Model.ListingID}\"")data-toggle="modal" data-target=@Html.Raw($"\"#myModal{Model.ListingID}\"")><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>

<div class="modal fade" @Html.Raw($"id=\"myModal{Model.ListingID}\"") tabindex="-1" role="dialog" aria-labelledby="myModayLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@Model.AdTitle</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <img src="@Model.Picture" style="float: left; max-height: 300px; max-width: 300px; margin-right: 30px;"/>
                        <dl class="inline">
                            <dt>Make</dt>
                            <dd>@Model.Make</dd>
                            <dt>Model</dt>
                            <dd>@Model.Model</dd>
                            <dt>Year</dt>
                            <dd>@Model.Year.ToString()</dd>
                            <dt>Mileage</dt>
                            <dd>@Model.Mileage</dd>
                            <dt>Price</dt>
                            <dd>@Model.Price.ToString()</dd>
                            <dt>Description</dt>
                            <dd>@Model.Description</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @Html.ActionLink("More Details", "VehicleRequest", "Home", new { id = @Model.ListingID }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>
