﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ElleSocks</title>
</head>
<body>
<div>
    <h1>Elle Rocks your Socks!</h1>
</div>
</body>
</html>
